@use '../../styles/colors' as color;
@use '../../styles/breakpoints' as breakpoint;

.post-page {
  &__title {
    font-size: 1.75rem;
    text-align: center;
    margin: 1rem auto 2rem auto;
  }

  &__text {
    text-align: justify;
    line-height: 1.2rem;

    &-bold {
      font-weight: 600;
    }

    &-title {
      text-align: center;
      font-weight: 600;
      margin-top: 2rem;
    }

    &-center {
      text-align: center;
      margin: 0.5rem;
    }
  }

  &__image-container {
    position: relative;
    width: 400px;
    height: 300px;
    overflow: hidden;
    border-radius: 5%;
    margin: 1rem auto;
    box-shadow: 2px 2px 4px color.$text-color;

    @media (max-width: breakpoint.$breakpoint-sm) {
      width: 300px;
      height: 200px;
    }
  }

  &__post-image-container {
    width: 150px;
    max-height: 200px;
    float: left;
    margin-right: 0.8rem;
    box-shadow: 2px 2px 4px color.$text-color;
    overflow: hidden;

    @media (max-width: breakpoint.$breakpoint-xs) {
      float: none;
      margin: 0.5rem auto;
    }
  }

  &__image {
    width: 100%;
  }

  &__date {
    margin: 0;
    padding: 0 0.2rem;
    position: absolute;
    text-shadow: 1px 1px 2px color.$body-bg;
    font-weight: 500;
    top: 5px;
    left: 5px;
    border-radius: 5px;
    background-color: color.$secondary-color;
    opacity: 80%;
  }

  &__content {
    width: 90%;
    margin: 0 auto;
  }
}
