@use '../../../styles/colors' as color;
@use '../../../styles/breakpoints' as breakpoint;

.fe-rules {
  &__header-title {
    margin-bottom: 2rem;
  }
  &__title {
    margin: 0 auto;
    text-align: left;
  }

  &__text {
    text-align: justify;

    &-bold {
      font-weight: 600;
      text-align: justify;
    }

    &-title {
      font-weight: 600;
      text-decoration: underline;
      text-align: left;
      margin-top: 2rem;
    }

    &-ul &-li {
      list-style: disc;
      font-weight: 600;
    }

    &-ol &-li {
      list-style: decimal;
      font-weight: 600;
    }

    &-li {
      margin-bottom: 0.5rem;
      text-align: justify;
    }
  }

  &__image-container {
    max-width: 450px;
    margin: 1rem;
  }
  &__image {
    width: 100%;
  }
}
