// ------------------ MAIN COLOR PALETTE ------------------ //

$primary-color: #156027;
$primary-light-color: #e0ebe2;
$primary-lighter-color: #e2f7e7;
$secondary-color: #ffb74d;
$accent-color: #ffd54f;
$body-bg: #e6e9df;
$body-bg-dark: #cad0bb;
$text-color: #181f09;

// --------------------- GREY COLORS --------------------- //

$color-white: #ffffff;
$color-white-dark: #f9f9f9;

$color-grey: #9f9f9f;
$color-grey-light: #acacac;
$color-grey-lighter: #cecece;
$color-grey-lightest: #e8e8e8;
$color-grey-dark: #707070;
$color-grey-darker: #464646;
$color-grey-darkest: #232323;

$color-black: #000000;
$color-black-light: #101010;

// --------------------- BASIC COLORS --------------------- //

$color-red: #9f1111;
$color-green: #22c01e;
$color-blue: #60bceb;
