@use '../../../styles/colors' as color;
@use '../../../styles/breakpoints' as breakpoint;

.accordion-item {
  cursor: pointer;

  &__title {
    color: color.$body-bg;
    display: flex;
    justify-content: start;
    padding: 0.5rem;
    margin: 1rem auto;
    border-radius: 25px;
    background-color: color.$primary-color;
    box-shadow: 3px 2px 6px color.$text-color;
    border-radius: 25px;
  }

  &__icon-container {
    margin: 0 2rem;
  }

  &__content {
    transform: scaleY(0);
    overflow: hidden;
    opacity: 0;
    height: 0;
    transform-origin: top;
    transition: all 0.5s ease-in-out;

    &.-active {
      transform: scaleY(1);
      opacity: 1;
      height: auto;
      transition: all 0.5s ease-in-out;
    }
  }
}
