@use '../../../styles/colors' as color;
@use '../../../styles/breakpoints' as breakpoint;

.tenders-page {
  &__post-container {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }
}
